/* CLASSIFICATION: CONFIDENTIAL */

:root {
  /*-------------------------- LIST DISTANCES -------------------------------*/
  --lA1: 20px;

  /*-------------------------- ICON DISTANCES -------------------------------*/

  --iA1: 15px;
  --iA2: 30px;
  --iA3: 60px;
  --iA4: 24px;

  /*-------------------------- LINE DISTANCES -------------------------------*/

  --zA1: 4px;
  --zA2: 3px;
  --zA3: 51px;
  --zA4: 30px;
  --zA5: 6px;
  --zA6: 16px;
  --zA7: 71px;
  --zA8: 8px;

  /*-------------------------- COLUMN DISTANCES -------------------------------*/

  --cA1: 30px;

  /*-------------------------- HEADLINE DISTANCES -------------------------------*/
  --hA1: 10px;
  --hA2: 60px;
  --hA3: 40px;

  /*-------------------------- TEXTBUTTON DISTANCES -------------------------------*/
  --textButtonMargin: 45px;
  --listVerticalPadding: 9px;

  /*-------------------------- BUTTON DISTANCES -------------------------------*/
  --buttonBorderDist: 8px;
}
